<!doctype html>
<!-- Curious about our stack? It's GO Fiber, HTMX, Bootstrap CSS, and a dozen cups of coffee ;) -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Base64 Converter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
</head>

<body>
    <div class="container py-5">
        <h1>Base64 Converter</h1>
        <p>The Base64 online converter supports both functions of the algorithm on same page. If you need to encode a
            text
            to Base64, fill in the "Text" field and press "Encode text to Base64" — the result will appear in the
            "Base64"
            field. Otherwise, if you have a Base64 string, paste it into the "Base64" field and press "Decode Base64 to text"
            — the result will appear in the "Text" field.</p>
        <div class="row" id="text-form">
            <form class="col-6" hx-post="/text" hx-target="#text-form" hx-swap="outerHTML">
                <div class="mb-3">
                    <label for="text" class="form-label">Text</label>
                    <textarea name="text" class="form-control" id="text" rows="8">{{ .Text }}</textarea>
                </div>
                <input name="type" type="hidden" value="encode">
                <button type="submit" class="btn btn-primary">Encode text to Base64</button>
            </form>

            <form class="col-6" hx-post="/text" hx-target="#text-form" hx-swap="outerHTML">
                <div class="mb-3">
                    <label for="base64" class="form-label">Base64</label>
                    <textarea id="text-base64" name="base64" class="form-control" id="result" rows="8">{{ .Base64 }}</textarea>
                </div>
                <input name="type" type="hidden" value="decode">
                <button type="submit" class="btn btn-primary float-end">Decode Base64 to text</button>
            </form>
        </div>
    </div>
</body>

</html>